@charset "UTF-8";
/*
 * File       : ui.common.css
 * Author     : 송우림

 * DIRECTORY:
 * - COMMON
 * - LAYOUT
 * - ICONS
 * - HEADER
 * - FOOTER
 */

/**********
    LAYOUT
***********/
/* #wrapper{min-width:1240rem;} */
.inner{max-width:1200px;margin:0 auto;padding:0 20rem;}
.animate{visibility: hidden;}
#main_wrap{padding:80rem 0 100rem 0;}
.main #main_wrap{padding-bottom:0;}
html.lnb_open,body.lnb_open{overflow: hidden;touch-action: none;}

/**********
    ICONS
***********/
.icons{display:inline-flex;position:relative;vertical-align: -4px;}
.icons:before{content:"";display:inline-block;width:18px;height:18px;background-position: 50%;background-size:100%;background-repeat: no-repeat;}
.icons.i_gnb_search:before{background-image:url('../images/icons/ico_gnb_serch.png');width:24rem;height:24rem;}
.icons.i_gnb_filter:before{background-image:url('../images/icons/ico_gnb_filter.png');width:24rem;height:24rem;}
.icons.i_user:before{background-image:url('../images/icons/ico_gnb_user.png');width:20rem;height:20rem;}
.icons.i_upload:before{background-image:url('../images/icons/ico_gnb_upload.png');width:24rem;height:24rem;}
.icons.i_logout:before{background-image:url('../images/icons/ico_logout.png');width:16rem;height:16rem;}
.icons.i_mypage_arrow:before{background-image:url('../images/icons/ico_mypage_arrow.png');width:16rem;height:16rem;}
.icons.i_main_search:before{background-image:url('../images/icons/ico_main_search.png');width:36rem;height:36rem;}
.icons.i_main_oa:before{background-image:url('../images/icons/ico_main_oa.png');width:72rem;height:72rem;}
.icons.i_main_dl:before{background-image:url('../images/icons/ico_main_dl.png');width:72rem;height:72rem;}
.icons.i_m_search:before{background-image:url('../images/icons/ico_m_search.png');width:24rem;height:24rem;}
.icons.i_m_gnb:before{background-image:url('../images/icons/ico_m_gnb.png');width:24rem;height:24rem;}
.icons.i_pop_close:before{background-image:url('../images/icons/ico_pop_close.png');width:20rem;height:20rem;}
.icons.i_loaction_home:before{background-image:url('../images/icons/ico_location_home.png');width:16rem;height:16rem;}
.icons.i_notice_list:before{background-image:url('../images/icons/ico_notice_list.png');width:24rem;height:24rem;}
.icons.i_notice_album:before{background-image:url('../images/icons/ico_notice_album.png');width:24rem;height:24rem;}
.icons.i_view:before{background-image:url('../images/icons/ico_view.png');width:16rem;height:16rem;}
.icons.i_bookmark:before{background-image:url('../images/icons/ico_bookmark.png');width:16rem;height:16rem;}
.icons.i_word_delete:before{background-image:url('../images/icons/ico_word_delete.png');width:16rem;height:16rem;}
.icons.i_search_filter:before{background-image:url('../images/icons/ico_search_filter.png');width:24rem;height:24rem;}
.icons.i_calendar:before{background-image:url('../images/icons/ico_calender.png');width:16rem;height:16rem;}
.icons.i_paging_first:before{background-image: url('../images/icons/ico_paging_first.png');width:16rem;height: 16rem;}
.icons.i_paging_prev:before{background-image: url('../images/icons/ico_paging_prev.png');width:16rem;height: 16rem;}
.icons.i_paging_next:before{background-image: url('../images/icons/ico_paging_next.png');width:16rem;height: 16rem;}
.icons.i_paging_last:before{background-image: url('../images/icons/ico_paging_last.png');width:16rem;height: 16rem;}
.icons.i_download:before{background-image: url('../images/icons/ico_down.png');width:16rem;height: 16rem;}
.icons.i_preview_link:before{background-image: url('../images/icons/ico_preview_link.png');width:16rem;height: 16rem;}
.icons.i_link:before{background-image: url('../images/icons/ico_link.png');width:16rem;height: 16rem;}
.icons.i_selec_arrow:before{background-image: url('../images/icons/ico_selec_arrow.png');width:20rem;height: 20rem;}
.icons.i_pdf:before{background-image: url('../images/icons/ico_pdf.png');width:20rem;height: 20rem;}
.icons.i_viewer:before{background-image: url('../images/icons/ico_viewer.png');width:20rem;height: 20rem;}
.icons.i_d_link:before{background-image: url('../images/icons/ico_d_link.png');width:20rem;height: 20rem;}
.icons.i_f_link:before{background-image: url('../images/icons/ico_f_link.png');width:20rem;height: 20rem;}
.icons.i_search_menu:before{background-image: url('../images/icons/ico_search_menu.png');width:24rem;height: 24rem;}
.icons.i_lnb_close:before{background-image: url('../images/icons/ico_i_lnb_close.png');width:20rem;height: 20rem;}
/**********
    COMMON
***********/
/* BUTTON */
.btn{display:inline-block;border-radius: 5px;font-size:14rem;padding:10rem 13rem;font-weight:bold;min-width:80rem;}
.btn+.btn{margin-left:7px;}
.btn.radius{border-radius: 30px;}
.btn.c-type01{border:1px solid #F85C3A;color:#F85C3A;background-color:#fff;}
.btn.c-type02{border:1px solid #FFFFFF;color:#403F3D;background-color:#FFFFFF;}
.btn.c-type03{border:1px solid #F85C3A;color:#fff;background-color:#F85C3A;}
.btn.c-type04{border:1px solid #DFDFDF;color:#666666;background-color:#FFFFFF;}

/* FORM SEARCH */
.form_chk_list{display:flex;}
.form_chk_list>li+li{margin-left:30rem;}

/* TITLE */
.title_area{padding:40rem 0 25rem;}
.title_area .title{color:#000;font-size:24rem;font-weight:800;}


/* LOCATION */
.location_area{border-bottom:1px solid #DFDFDF;border-top:1px solid #DFDFDF}
.location_list{display:inline-flex;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;}
.location_list>li{min-width:200rem;position:relative;}
.location_list>li+li{border-left:1px solid #dfdfdf;}
.location_list>li:first-child{min-width:45rem;}
.location_list>li:first-child:after{display:none;}
.location_list .home{display:flex;width:45rem;height:45rem;box-sizing: border-box;align-items: center;justify-content: center;padding:0;}
.location_list>li>a{display:block;height:45rem;color:#666;font-size:13rem;padding:13rem 20rem;box-sizing: border-box;}
.location_list>li:after{content:"";position:absolute;top:13rem;right:20rem;width:9rem;height:9rem;border-top:1px solid #444;border-right:1px solid #444;transform: rotate(135deg);z-index:-1;}

/* CHK */
.chk{display:inline-block;}
.chk input[type="checkbox"]{display:none;}
.chk input[type="checkbox"]:checked+label:before{background:url('../images/icons/ico_chk_on.png') no-repeat 50%;background-size:100%;}
.chk label{position:relative;color: #444;font-size:16rem;cursor:pointer;padding-left:25rem;}
.chk label:before{content:"";position:absolute;top:50%;left:0;width:16rem;height:16rem;background:url('../images/icons/ico_chk_off.png') no-repeat 50%;background-size:100%;transform: translateY(-50%);}

/* RDO */
.rdo_area{display:inline-flex;margin-left:15rem;border:1px solid #DFDFDF;border-radius:5px;overflow:hidden;}
.rdo+.rdo label{border-left:1px solid #DFDFDF;}
.rdo input[type="radio"]{display:none;}
.rdo input[type="radio"]:checked+label{color:#fff;background-color:#403F3D;}
.rdo label{display:inline-block;color: #444;font-size:14rem;background-color:#fff;padding:12rem 0;cursor:pointer;width:55rem;box-sizing: border-box;text-align: center;}

/* DATEPICKER */
.datepicker_box{display:inline-block;}
.datepicker_area{display:inline-block;position:relative;background-color:#fff;border-radius: 5rem;padding-right:30rem;border:1px solid #DFDFDF;}
.datepicker_area input[type="text"]{width:100%;border:0;}
.datepicker_area+.datepicker_area{margin-left:13px}
.datepicker_area+.datepicker_area:before{content:"~";position:absolute;top:10rem;left:-12rem;}
.datepicker_area .ui-datepicker-trigger{position:absolute;top:50%;right:10px;width:20rem;height: 20rem;transform: translateY(-50%);}
.datepicker_area .ui-datepicker-trigger img{vertical-align:initial;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{top:10rem}

/* PAGING */
.paging_wrap{margin-top:40rem;position:relative;}
.paging_wrap .paging_total{position:absolute;top:4rem;left:0;color:#444;font-size:14rem;}
.paging_wrap .paging_total strong{font-weight:800;color:#F85C3A;}
.paging_wrap .paging_area{display:flex;align-items: center;align-items: center;justify-content: center;}
.paging_wrap .paging_area .icons{vertical-align: -2px;}
.paging_wrap .paging{color: #999999;font-size:13rem;border:1px solid #fff;}
.paging_wrap a{display:inline-flex;border-radius: 5px;box-sizing: border-box;width:28rem;height:28rem;transition: all .1s;margin:0 2px;justify-content: center;align-items: center;}
.paging_wrap .paging:hover,
.paging_wrap .paging.active{color:#fff;background-color:#ADA49F;border-color:#ADA49F;}
.paging_wrap .first,
.paging_wrap .prev,
.paging_wrap .next,
.paging_wrap .last{border:1px solid #DADADA;vertical-align: -1px;}

/* FLEXROW */
.flex_row{display:flex;align-items: center;}
.flex_row.between{justify-content:space-between;}

/* DATA LABEL */
.data_type{display:inline-block;border: 1px solid #F85C3A;border-radius: 5px;color:#F85C3A;font-size:13rem;font-weight:800;padding:5rem 0;width:80rem;text-align:center;background-color:#fff;}
.data_type.c-type01{border: 1px solid #F85C3A;color:#F85C3A;}
.data_type.c-type02{border: 1px solid #686360;color:#686360;}
.data_type.c-type03{border: 1px solid #005CA2;color:#005CA2;}
.data_type.c-type04{border: 1px solid #FFA827;color:#FFA827;}
.data_type.c-type05{border: 1px solid #5D35B0;color:#5D35B0;}
.data_type.c-type06{border: 1px solid #82AC26;color:#82AC26;}
.data_type.c-type07{border: 1px solid #6F8090;color:#6F8090;}
.data_type.c-type08{border: 1px solid #604242;color:#604242;}
.data_type.c-type09{border: 1px solid #3C9792;color:#3C9792;}

/* MULTISELECT */
.multiselec_wrap{display:flex;}
.multiselec_wrap .form_label{margin-top:5rem;}
.multiselec_area{display:inline-block;}
.multiselec_area+.multiselec_area{margin-left:12rem;}
.multiselec_box{position:relative;display:inline-block;width:320rem;background: #FFFFFF;border: 1px solid #DFDFDF;border-radius: 5px;padding:10rem 15rem;box-sizing:border-box;}
.multiselec_box .i_selec_arrow{position:absolute;top:0;right:20rem;cursor:pointer;padding:11rem 0;}
.multiselec_box>.chk>label{font-size:14rem;color:#000;font-weight:800;}
.multiselec_box .multiselec_list{display:none;position:absolute;top:42rem;left:-2px;right:-2px;background-color: #FFFFFF;border: 1px solid #DFDFDF;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);border-radius: 5px;padding:15rem 16rem;z-index:5;}
.multiselec_box .multiselec_list.on{display:block;}
.multiselec_box .multiselec_list>li+li{margin-top:10rem;}
.multiselec_box .multiselec_list .chk label{font-size:13rem;}
.multiselec_item span{display:inline-block;margin-top:5rem;color: #F85C3A;font-size:13rem;}

/* FORM_SEARCH */
.form_search_wrap{background: #F6F6F6;border-radius: 10px;padding:25rem 25rem;margin-bottom:25rem;}
.form_label{display:inline-block;color:#444;font-size:14rem;margin-right:20rem;}

/* TABLE */
.tbl_style01{width:100%;border-top:2px solid #403F3D;margin-top:15rem;table-layout:fixed;}
.tbl_style01 thead th{height:50rem;color:#444;font-size:14rem;font-weight:800;background-color:#F6F6F6;}
.tbl_style01 tbody td{height:60rem;color:#666;font-size:14rem;text-align:center;border-bottom:1px solid #DFDFDF;}
.tbl_style01 tbody td.subject{overflow:hidden;text-align:left;}
.tbl_style01 tbody td.subject a{display:inline-block;max-width:100%;color:#000;font-size:16rem;font-weight:800;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.tbl_style01 tbody td.subject a:hover{text-decoration:underline;}
.tbl_style01 tbody td .link a{padding:0 5rem;}

/* ROW LIST */
.row>.col{display:flex;flex-wrap: wrap;}
.row>.col>li{box-sizing:border-box;}

.row.gutter24>.col{margin:0 -12rem;}
.row.gutter16>.col{margin:-8rem -8rem;}
.row.gutter24>.col>li{padding:0 12rem;}
.row.gutter16>.col>li{padding:8rem 8rem;}

.col-12{ width:100% }
.col-11{ width:91.66666667% }
.col-10{ width:83.33333333% }
.col-9{ width:75% }
.col-8{ width:66.66666667% }
.col-7{ width:58.33333333% }
.col-6{ width:50% }
.col-5{ width:41.66666667% }
.col-4{ width:33.33333333% }
.col-3{ width:25% }
.col-2{ width:16.66666667% }
.col-1{ width:8.33333333% }

/**********
    HEADER
***********/
#header_wrap{position: fixed;top:0;left:0;right:0;z-index:150;transition: top .5s; border-bottom:1px solid #DADADA;background-color:#fff;}
#header_wrap.nav-down{top:0;}
#header_wrap.nav-up{top:-80rem;}
#header_wrap .inner{display:flex;align-items: center;justify-content: space-between;height:80rem;}
#header_wrap .logo{display:inline-block;}
#header_wrap .logo a{display:block;width:160rem;height:45rem;background:url('../images/icons/logo.png') no-repeat 50%;background-size:cover;text-indent: -9999px;}
#header_wrap .header_gnb{display:flex;}
#header_wrap .header_gnb>li>a{display:inline-block;color:#000;font-size:20rem;font-weight:800;padding:0 35rem;}
#header_wrap .header_etc{display:flex;align-items: center;}
#header_wrap .header_etc .btn_upload{background: #FFEFEC;border-radius: 5px;width:40rem;height:40rem;}
#header_wrap .header_search_box{position:relative;width:340rem;border: 1px solid #DFDFDF;border-radius: 5px;box-sizing: border-box;padding:0 100rem 0 12rem;margin-right:30rem;}
#header_wrap .header_search_box input[type="text"]{border:0;padding:0;width:100%;height:38rem;}
#header_wrap .header_search_box .option{position:absolute;top:50%;right:13rem;transform: translateY(-50%);}
#header_wrap .header_search_box .option span{display:inline-block;}
#header_wrap .header_search_box .filter{position:relative;margin-left:11rem;padding-left:11rem;}
#header_wrap .header_search_box .filter:before{content:"";position:absolute;top:50%;left:0;width:1rem;height:20rem;background-color:#CCCCCC;transform: translateY(-50%);}
#header_wrap .header_user{position:relative;margin-right:25rem;}
#header_wrap .header_user .user{display:inline-block;position:relative;}
#header_wrap .header_user .user.login{padding-right:35rem;}
#header_wrap .header_user .user.login:after{content:"";position:absolute;top:4rem;right:3rem;width:9rem;height:9rem;border-top:1px solid #444;border-right:1px solid #444;transform: rotate(135deg);}
#header_wrap .header_user .user .name{color:#444;font-size:14rem;}
#header_wrap .header_user .user .name strong{font-weight:800;}
#header_wrap .header_user .user_menu{position:absolute;top:40rem;left:0;width:120rem;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);border-radius: 10px;background-color:#fff;opacity:0;visibility: hidden;transition: all .2s;}
#header_wrap .header_user .user_menu.on{opacity:1;visibility: visible;top:35rem;}
#header_wrap .header_user .user_menu li+li{border-top:1px solid #DFDFDF;}
#header_wrap .header_user .user_menu a{display:block;font-size:13rem;}
#header_wrap .header_user .user_menu .mypage{padding:20rem 15rem;color:#000;font-weight:bold;}
#header_wrap .header_user .user_menu .mypage i{margin-left:5rem;}
#header_wrap .header_user .user_menu .logout{padding:10rem 0;text-align:center;color:#444;background-color:#F9F5F3;}
#header_wrap .header_user .user_menu .logout i{margin-left:8rem;}
#header_wrap .header_mobile{display:none;}
#header_wrap .header_mobile button{width:35rem;height:60rem;}

/**********
    FOOTER
***********/
#footer_wrap{padding:40rem 0;border-top:1px solid #EEEEEE;}
#footer_wrap .footer_top{display:flex;}
#footer_wrap .footer_top>li{position:relative;}
#footer_wrap .footer_top>li+li{padding-left:12rem;margin-left:12rem;}
#footer_wrap .footer_top>li+li:before{content:"";position:absolute;top:50%;left:0;width:1rem;height:12rem;background-color:#666666;transform: translateY(-50%);}
#footer_wrap .footer_top a{color:#666;font-size:13rem;}
#footer_wrap .footer_info{border-top:1px solid #DFDFDF;padding-top:20rem;margin-top:20rem;position:relative;padding-left:170rem;}
#footer_wrap .footer_inner{display:flex;}
#footer_wrap .footer_logo{position:absolute;display:inline-block;top:20rem;left:0;}
#footer_wrap .footer_logo a{display:inline-block;background:url('../images/icons/logo_footer.png') no-repeat 50%;text-indent:-9999px;width:125rem;height:35rem;background-size:cover;}
#footer_wrap .footer_address{margin-right:30rem;}
#footer_wrap .footer_address .address{color: #666666;font-size:13rem;}
#footer_wrap .footer_address .copy{margin-top:8rem;color:#949494;font-size:13rem;}
#footer_wrap .footer_tel{display:flex;}
#footer_wrap .footer_tel>li+li{margin-left:30rem;}
#footer_wrap .footer_tel>li{color: #666;font-size:13rem;font-weight:bold;}
#footer_wrap .footer_tel span{display:inline-block;position:relative;margin-right:12rem;padding-right:12rem;color:#666;font-size:13rem;font-weight:normal;}
#footer_wrap .footer_tel span:before{content:"";position:absolute;top:50%;right:0;width:1rem;height:12rem;background-color:#666;transform: translateY(-50%);}
/**********
    LNB
***********/

/**********
    POPUP
***********/
.popup_wrap {opacity:0;visibility:hidden;}
.popup_wrap.active{opacity:1;visibility:visible;}
.popup_bg{position:fixed;left:0;top:0;right:0;bottom:0;z-index:160;background-color:rgba(0,0,0,0.6);}
.popup_area{position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);z-index:170;box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);border-radius:15px;overflow:hidden;}
.pop_header{position:relative;padding:15rem 25rem;background-color:#403F3D;}
.pop_header h2{color: #FFFFFF;font-size:18rem;font-weight:800;}
.pop_header button{position:absolute;top:0;bottom:0;right:30rem;padding:0 10rem;}
.pop_cont{padding:30rem 25rem 30rem 25rem;background-color:#FFF;}
.pop_btn_area{text-align:right;position:relative;padding:20rem 25rem;background-color:#F6F4F3;}
.pop_btn_area button{width:95rem;padding:10rem 0; flex:1;}
.pop_detail_search table{width:100%;}
.pop_detail_search table tbody th{color:#444;font-size:14rem;font-weight:800;text-align: left;padding:8rem 0;}
.pop_detail_search table tbody td{padding:8rem 0;}
.layerpop_msg{text-align:center;color:#000;font-size:16rem;line-height:1.5;font-weight:bold;padding:15rem 0;}
.layerpop_btn_area{display:flex;flex:1;}
.layerpop_btn_area .lbtn{color:#fff;flex:1;font-size:14rem;padding:14rem 0;}
.layerpop_btn_area .lbtn.c-type01{background-color:#ADA49F;}
.layerpop_btn_area .lbtn.c-type02{background-color:#FF7654;}