@charset "UTF-8";
/*
 * File       : ui.responsive.css
 * Author     : 송우림

 * DIRECTORY:
 * - COMMON
 */

/* **************************************** *
 * 2000px Desktop
 * **************************************** */

 @media (min-width: 2000px){
    /* html{ font-size:0.05254860746190225vw; } */

}/* 2000px */

/* **************************************** *
 * 1800px Desktop
 * **************************************** */
@media (max-width: 1800px){


}/* 1800px */

/* **************************************** *
 * 1480px Desktop
 * **************************************** */
@media (max-width: 1480px){

    html { font-size: 0.06756756756756757vw;}



}/* 1480px */

/* **************************************** *
 * 1199px Desktop
 * **************************************** */
 @media (max-width: 1199px){

    html { font-size: 0.06756756756756757vw;}


}/* 1199px */

/* **************************************** *
 * 1023px Tablet
 * **************************************** */
@media (max-width: 1024px){

    html {font-size: 0.09775171065493645vw;}

    .col-lg-12{ width:100% }
    .col-lg-11{ width:91.66666667% }
    .col-lg-10{ width:83.33333333% }
    .col-lg-9{ width:75% }
    .col-lg-8{ width:66.66666667% }
    .col-lg-7{ width:58.33333333% }
    .col-lg-6{ width:50% }
    .col-lg-5{ width:41.66666667% }
    .col-lg-4{ width:33.33333333% }
    .col-lg-3{ width:25% }
    .col-lg-2{ width:16.66666667% }
    .col-lg-1{ width:8.33333333% }

    #header_wrap .inner{height:60rem;}
    #header_wrap .logo a{width:120rem;height: 34rem;}
    #header_wrap .header_mobile{display:block;}
    #header_wrap .header_gnb{display:none;}
    #header_wrap .header_etc{display:none;}
    #main_wrap{padding:60rem 0 100rem 0;}

    .location_area .inner{padding:0;}
    .location_list{display:flex;}
    .location_list>li{min-width:auto;}
    .location_list>li+li{flex: 1;}

    .main_sec_visual{height:700rem;}
    .main_inner.reverse .img{margin-left:-20rem;}
    .main_intro_tab .intro_list{width:100%;}
    .main_intro_tab .intro_img{display:none;}
    .main_intro_tab .intro_list>li.on>a .img{display:block;width:420rem;height:330rem;margin:25rem auto 0;}

     /**********
    통합검색
    ***********/
    .total_search_wrap{padding:0;margin-top:0;}
    .total_search_menu{position: relative;width:100%;padding:17rem 0 27rem 0;display:flex;justify-content: space-between;align-items: center;}
    .total_search_menu:before{content:"";position:absolute;bottom:0;left:-20rem;right:-20rem;height:9rem;background-color:#F6F6F6;border-top:1px solid #EEEEEE;}
    .total_search_menu .menu_list{display:none;}
    .total_search_word{display:none;}
    .total_search_top{position:relative;padding:13rem 0;}
    .total_search_top:before{content:"";position:absolute;bottom:-10rem;left:-20rem;right:-20rem;height:9rem;background-color:#F6F6F6;border-top:1px solid #EEEEEE;}
    .total_search_title~.total_search_title:before{content:"";position:absolute;top:-34rem;left:-20rem;right:-20rem;height:9rem;background-color:#F6F6F6;border-top:1px solid #EEEEEE;}
    .total_search_menu .search_menu_btn{display:block;}

    /**********
    공유자료
    ***********/
    .total_search_list.label.card>li{width:33.333%;}
    .total_search_list.label.card .title{padding:10rem 0 0 0;}
    .total_search_list.label.card .info{padding:0 0 20rem 0;}


}/* 1023px */

/* **************************************** *
 * 860px Tablet
 * **************************************** */
@media (max-width: 860px){

    html { font-size: 0.13020833333333335vw;}

    .col-md-12{ width:100% }
    .col-md-11{ width:91.66666667% }
    .col-md-10{ width:83.33333333% }
    .col-md-9{ width:75% }
    .col-md-8{ width:66.66666667% }
    .col-md-7{ width:58.33333333% }
    .col-md-6{ width:50% }
    .col-md-5{ width:41.66666667% }
    .col-md-4{ width:33.33333333% }
    .col-md-3{ width:25% }
    .col-md-2{ width:16.66666667% }
    .col-md-1{ width:8.33333333% }

    #main_wrap{padding:60rem 0 60rem 0;}

    #footer_wrap{padding:20rem 0;}
    #footer_wrap .footer_inner{margin-top:15rem;justify-content: space-between;}
    #footer_wrap .footer_logo{position: static;}
    #footer_wrap .footer_info{padding-left:0;padding-top:15rem;margin-top:15rem;}

    .popup_area{width:auto !important;left:20rem;right:20rem;transform: translate(0,-50%);}
    .pop_detail_search table tbody th,
    .pop_detail_search table tbody td{display:block;}

    .main_sec{padding:80rem 0 90rem 0;}
    .main_sec.cont05{padding:80rem 0 80rem 0;}
    .main_sec_visual{height:600rem;}
    .main_visual_inner .title{font-size:45rem;}
    .main_title .title{font-size:40rem;}
    .main_inner{display:block;}
    .main_inner .intro{width:100%;}
    .main_inner .img{width:auto;padding-left:0;margin-top:40rem;}
    .main_inner.reverse .img{width:100%;padding-right:0;margin-left:0;}
    .main_sec_banner{display:block;text-align: center;}
    .main_sec_banner .banner_link{margin-top:50rem;}
    .mask02{background-size:cover;}

    /**********
    통합검색
    ***********/
    /* 통합검색 상세 */
    .cont_header_area{margin:20rem 0 15rem 0;}
    .cont_preview_list .row.gutter24>.col{margin:-8rem -8rem;}
    .cont_preview_list .row.gutter24>.col>li{padding:8rem 8rem;}
    .cont_info_tbl{padding:20rem 15rem;}
    .cont_info_tbl table th,
    .cont_info_tbl table td{display:block;width:100%;}
    .total_search_list.card>li{width:50%;}
    
    /**********
    공유자료
    ***********/
    .total_search_list.label .search_inner{padding-left:0;}
    .total_search_list.label .data_type{position:static;transform:translateY(0)}
    .total_search_list.label .title{display:block;margin-top:10rem;}
    .total_search_list.label.card>li{width:50%;}
    .multiselec_wrap{display:block;}
    .multiselec_wrap .form_label{display:block;margin:0;margin-bottom:10rem;}
    .multiselec_area{display:block;}
    .multiselec_area+.multiselec_area{margin:0;margin-top:10rem;}
    .multiselec_box{width:100%;}


}/* 860px */

/* **************************************** *
 * 540px Mobile
 * **************************************** */
@media (max-width: 540px){


    html { font-size: 0.26666666666666665vw;}
    .title_area{padding:20rem 0 15rem 0;}
    .paging_wrap .paging_total{display:none;}

    .col-sd-12{ width:100% }
    .col-sd-11{ width:91.66666667% }
    .col-sd-10{ width:83.33333333% }
    .col-sd-9{ width:75% }
    .col-sd-8{ width:66.66666667% }
    .col-sd-7{ width:58.33333333% }
    .col-sd-6{ width:50% }
    .col-sd-5{ width:41.66666667% }
    .col-sd-4{ width:33.33333333% }
    .col-sd-3{ width:25% }
    .col-sd-2{ width:16.66666667% }
    .col-sd-1{ width:8.33333333% }

    #footer_wrap .footer_inner{flex-wrap: wrap;flex-direction: column-reverse;}
    #footer_wrap .footer_tel{display:block;}
    #footer_wrap .footer_tel>li+li{margin-top:5rem;margin-left:0;}
    #footer_wrap .footer_address{margin-right:0;margin-top:5rem;}
    #footer_wrap .footer_address .copy{margin-top:5rem;}
    .pop_cont{padding:20rem 20rem;}
    .pop_detail_search table tbody th{padding:8rem 0 5rem 0;}
    .pop_detail_search table tbody td{padding:0;}
    .pop_detail_search .form_chk_list>li{flex:1;}
    .pop_detail_search .form_chk_list>li+li{margin-left:15rem;}
    .pop_detail_search .form_chk_list .chk label{font-size:13rem;}
    .pop_detail_search .rdo_area{display:flex;margin-left:0;}
    .pop_detail_search .datepicker_box{display:flex;}
    .pop_detail_search .datepicker_area{flex:1;width:auto !important;}
    .pop_detail_search .rdo_area{margin-top:8rem;}
    .pop_detail_search .rdo_area .rdo{flex:1;}
    .pop_detail_search .rdo_area .rdo label{width:100%;}

    .main_sec.cont02{padding:60rem 0;}
    .main_sec.cont03{padding:40rem 0;}
    .main_sec.cont04{padding:60rem 0 80rem 0;}
    .main_title{margin-bottom:40rem;}
    .main_title .title{font-size:32rem;}
    .main_visual_bg{background-image:url('../images/bg/bg_main_visual_m.png');}
    .main_visual_inner{justify-content:normal;}
    .main_visual_inner .title{margin-top:60rem;font-size:32rem;}
    .main_visual_inner .txt{margin-top:15rem;font-size:18rem;text-align: center;}
    .main_visual_inner .txt br{display:block;}
    .main_visual_inner .visual_search.on{width:100%;}
    .main_visual_inner .visual_search input[type="text"]{height:50rem;font-size:16rem;}
    .main_visual_inner .visual_search button{width:56rem;height:56rem;}
    .icons.i_main_search:before{width:32rem;height:32rem;}
    .main_visual_inner .hashtag{margin-top:10rem;text-align:center;}
    .main_visual_inner .hashtag a{font-size:16rem;font-weight:normal;}
    .main_inner .intro{margin-top:0;}
    .main_inner .intro .title{font-size:32rem;}
    .main_inner .intro .desc{margin-top:40rem;line-height:1.7;}
    .main_inner .intro .desc+.desc{margin-top:20rem;}
    .main_intro_tab .intro_list .title{font-size:20rem;}
    .main_intro_tab .intro_list .desc{font-size:16rem;}
    .main_intro_tab .intro_list>li>a{padding:0;padding-left:30rem;}
    .main_intro_tab .intro_list>li.on>a .img{width:100%;height:auto;}
    .main_intro_tab .intro_list>li>a:before{width:20rem;height:20rem;border:5rem solid #eee;left:0;}
    .main_intro_tab .intro_list>li.on a:before{border:5rem solid #F85C3A;}
    .main_intro_tab .intro_list>li.on>a .img{margin-top:15rem}
    .main_sec_banner .banner_intro p{font-size:20rem;}
    .main_sec_banner .banner_intro h2{font-size:32rem;margin-top:20rem;}
    .m_br{display:block;}
    .main_sec_banner .banner_link a{font-size:18rem;}

    /**********
    통합검색
    ***********/
    .total_search_top_area{padding:35rem 0;}
    .total_search_tags{margin:-4rem -4rem;}
    .total_search_tags a{padding:4rem;}
    .total_search_result{margin-top:20rem;}
    .total_search_inpt{width:calc(100% - 62rem);padding:0 45rem 0 15rem;}
    .total_search_inpt button{padding:0 10rem;}
    .total_search_box .detail{font-size:0;padding:15rem 15rem;margin-left:8rem;}
    .total_search_box .detail i{margin-right:0;}
    .total_search_list .search_box{display:block;}
    .total_search_list .info{display:block;}
    .total_search_list .info>li+li{margin-left:0;margin-top:8rem;}
    .total_search_list .search_box .etc{margin-left:0;text-align:right;}
    /* 통합검색 상세 */
    .cont_down_list{padding:15rem 15rem;}
    .cont_down_list>li{display:block;position:relative;overflow:hidden;padding:0 40rem 0 25rem;}
    .cont_down_list>li>i{position:absolute;top:3rem;left:0;}
    .cont_down_list span{position:absolute;top:0;right:0;}
    .cont_down_list a{max-width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-left:0;}
    .cont_preview_list .row.gutter24>.col{margin:-4rem -4rem;}
    .cont_preview_list .row.gutter24>.col>li{padding:4rem 4rem;}
    .cont_preview_list .data_cont .img{position:relative;width:100%;height:200rem;overflow:hidden;}
    .cont_preview_list .data_cont .img img{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);object-fit:cover;width:100%;height: 100%;}
    .cont_preview_list .data_cont .img.mov:before{z-index:5;}
    .total_search_list.card>li{width:100%;}

    /**********
    공유자료
    ***********/
    .list_cont_top{display:block;}
    .search_box_wrap{width:249rem;}
    .notice_option{position:absolute;top:0;right:0;}
    .list_top_option{margin-top:10rem;}
    .total_search_list.label.card>li{width:100%;}
    .form_search_wrap{padding:15rem;margin-bottom:20rem;}

    /* 발간물 상세 */
    .detail_cont_wrap{position:relative;display:block;border-bottom:0;}
    .detail_cont_wrap:after{content:"";position:absolute;bottom:0;left:-20rem;right:-20rem;height:9rem;background-color:#F6F6F6;border-top:1px solid #EEEEEE;}
    /* .detail_cont_wrap .detail_img{margin:0 auto;} */
    .detail_cont_wrap .detail_info{width:100%;margin-left:0;margin-top:20rem;}
    .detail_cont_wrap .detail_info .desc{line-height:1.7;}
    .detail_cont_wrap .detail_info .info{margin-top:30rem;}
    .detail_cont_wrap .detail_info .info>li{display:flex;}
    .tbl_style01{table-layout: auto; border-collapse: collapse;}
    .tbl_style01 thead{display:none;}
    .tbl_style01 col{width:100% !important;}
    .tbl_style01 tbody tr+tr{border-top:1px solid #DFDFDF;}
    .tbl_style01 tbody td{display:block;width:100%;padding:8rem 0;}
    .tbl_style01 tbody td{text-align:left;border-bottom:0;}
    .tbl_style01 tbody td.subject a{white-space:normal;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;height: 27rem;}
    .tbl_style01 tbody td .link{padding-bottom:15rem;margin:0 -5rem}

}/* 540px */
