@charset "UTF-8";
/*
 * File       : ui.common.css
 * Author     : 송우림

 * DIRECTORY:
 * - COMMON
 */

  /**********
    COMMON
***********/


/**********
    통합검색
***********/
.total_search_top_area{padding:40rem 0;background-color:#FBF7F6;}
.total_search_box{display:flex;align-items: center;}
.total_search_box .detail{background: #686360;border-radius: 10px;background-color:#686360;font-size:18rem;font-weight:bold;color:#fff;padding:15rem 30rem;margin-left:20rem;}
.total_search_box .detail i{margin-right:5rem;}
.total_search_inpt{position:relative;width:calc(100% - 180rem);background: #FFFFFF;border: 2px solid #ADA49F;border-radius: 10px;box-sizing:border-box;padding:0 65rem 0 25rem;}
.total_search_inpt input[type="text"]{width:100%;height:52rem;border:0;background:none;font-size:18rem;padding:0;}
.total_search_inpt button{position:absolute;top:0;bottom:0;right:0;padding:0 20rem;}
.total_search_tags{padding-top:20rem;margin:-8rem -8rem;}
.total_search_tags a{display:inline-block;color:#444;font-size:14rem;padding:8rem;}
.total_search_result{margin-top:30rem;}
.total_search_result p{color:#000;font-size:24rem;}
.total_search_result p span{color: #F85C3A;font-weight:800;}
.total_search_wrap{position:relative;padding:0 230rem;margin-top:40rem;min-height:500rem;}
.total_search_wrap .menu_title{color: #000000;font-size:18rem;font-weight:800;}
.total_search_wrap .menu_title~.menu_title{margin-top:30rem;padding-top:30rem;border-top:1px solid #DFDFDF;}
.total_search_menu{position:absolute;top:0;left:0;width:200rem}
.total_search_menu .menu_list{margin-top:30rem;}
.total_search_menu .menu_list>li>a{display:block;position:relative;color:#000;font-size:14rem;font-weight:800;border-bottom:1px solid #DFDFDF;padding:12rem 0;}
.total_search_menu .menu_list>li.has-sub>a:after{content:"";position:absolute;top:13rem;right:20rem;width:20rem;height:20rem;background:url('../images/icons/ico_menu_arrow.png') no-repeat 50%;background-size:cover;}
.total_search_menu .menu_list>li.has-sub.on>a:after{transform: rotate(180deg);}
.total_search_menu .menu_list>li>ul{display:none;background-color:#F6F6F6;padding:12rem 15rem;}
.total_search_menu .menu_list>li>ul>li>a{display:inline-block;font-size:13rem;color:#000;}
.total_search_menu .menu_list>li>ul>li>a:hover{text-decoration:underline;}
.total_search_top{display:flex;align-items:center;justify-content:space-between;margin-bottom:20rem;}
.total_search_top .notice_option button{width:40rem;height:40rem;background-color:#f6f6f6;border-radius:5px;}
.total_search_top .notice_option button.on{background-color:#F85C3A;}
.total_search_top .notice_option button.on .icons.i_notice_list:before{background-image:url('../images/icons/ico_notice_list_on.png');width:24rem;height:24rem;}
.total_search_top .notice_option button.on .icons.i_notice_album:before{background-image:url('../images/icons/ico_notice_album_on.png');width:24rem;height:24rem}
.total_search_title{position:relative;padding-bottom:12rem;border-bottom:2px solid #403F3D;}
.total_search_title~.total_search_title{margin-top:60rem;}
.total_search_title h3{display:inline-block;color: #000000;font-size:18rem;font-weight:800;}
.total_search_title span{color: #F85C3A;font-size:18rem;font-weight:800;}
.total_search_title a{position:absolute;top:5rem;right:0;color:#444;font-size:14rem;}
.total_search_list{margin-top:20rem;}
.total_search_list>li+li{padding-top:15rem;margin-top:15rem;border-top:1px solid #DFDFDF;}
.search_cont .title{display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;color:#000;font-size:16rem;font-weight:800;}
.search_cont .title:hover{text-decoration:underline;}
.search_cont .info{display:inline-flex;margin-top:5rem;}
.search_cont .info>li{display:flex;align-items: center;}
.search_cont .info>li+li{margin-left:20rem;}
.search_cont .info>li>span{display:inline-block;margin-right:10rem;color: #666666;font-size:13rem;}
.search_cont .info>li>em{color:#444;font-size:13rem;font-weight:bold;}
.etc .view{color:#444;font-size:13rem;font-weight:bold;}
.etc .view i{vertical-align:-3px;}
.etc .bookmark{margin-left:12rem;height:16rem;vertical-align:-2px;}
.etc .bookmark i{vertical-align: 0;}
.total_search_word{position:absolute;top:0;right:0;width:200rem}
.total_search_word .date{margin-top:15rem;}
.total_search_word .date span{display:inline-block;margin-left:5rem;color: #666666;font-size:12rem;}
.total_search_rank{margin-top:15rem;}
.total_search_rank>li{display:flex;align-items:center;}
.total_search_rank>li+li{margin-top:8rem;}
.total_search_rank .numb{display:inline-block;padding:0 5rem;background: #ADA49F;border-radius: 5px;color:#fff;font-size:12rem;}
.total_search_rank .numb.one{background: #F85C3A;}
.total_search_rank a{display:inline-block;margin-left:8rem;color:#000;font-size:14rem;font-weight:bold;}
.total_search_rank a:hover{text-decoration:underline;}
.total_search_myword{margin-top:15rem;}
.total_search_myword>li{position:relative;}
.total_search_myword>li+li{margin-top:8rem;}
.total_search_myword a{display:inline-block;color:#000;font-size:14rem;font-weight:800;}
.total_search_myword a:hover{text-decoration:underline;}
.total_search_myword .box{position:absolute;top:0;right:0;}
.total_search_myword .box span{color:#666;font-size:13rem;}
.total_search_myword .box button{vertical-align: 1px;}
.search_result_none{width:420rem;padding-top:125rem;background:url('../images/img/img_search_none.png') no-repeat top center;background-size:160rem auto;transform: translate(50px,80px);}
.search_result_none p{text-align: center;color:#000;font-size:24rem;font-weight:800;}
.search_result_none ul{margin-top:30rem;}
.search_result_none ul>li{position:relative;color:#444;font-size:16rem;padding-left:12rem;}
.search_result_none ul>li+li{margin-top:5rem;}
.search_result_none ul>li:before{content:"";position:absolute;top:8rem;left:0;width:4rem;height:4rem;border-radius:50%;background-color:#444444;}
.total_search_list_card{margin-top:16rem;}
.total_search_list_card .search_inner{border:1px solid #DFDFDF;border-radius: 10px;overflow:hidden;}
.total_search_list_card .search_cont{padding:15rem 15rem 20rem 15rem;}
.total_search_list_card .search_img{position:relative;height: 145rem;overflow:hidden;}
.total_search_list_card .search_img img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);object-fit:cover;width:100%;height:100%;}
.total_search_list_card .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;line-height:1.5;overflow:hidden;height:50rem;white-space:normal;}
.total_search_list_card .info{display:block;}
.total_search_list_card .info>li+li{margin-top:4rem;margin-left:0;}
.total_search_list_card .etc{border-top:1px solid #DFDFDF;padding:12rem 15rem;text-align:right;}
/* 통합검색 상세 */
.cont_header_area{border-bottom:2px solid #403F3D;margin:40rem 0 20rem 0;padding-bottom:20rem;}
.cont_header_area .data_type{display:inline-block;border: 1px solid #F85C3A;border-radius: 5px;color:#F85C3A;font-size:13rem;font-weight:800;padding:5rem 22rem;}
.cont_header_area .title{margin-top:8rem;color:#000;font-size:24rem;font-weight:800;}
.cont_title_area{margin:40rem 0 15rem 0;}
.cont_title_area.first{margin-top:0;}
.cont_title_area .sub_title{color:#000;font-size:18rem;font-weight:800;}
.cont_title_area .sub_title strong{color: #F85C3A;}
.cont_info_tbl{border: 1px solid #DFDFDF;border-radius: 10px;padding:25rem 30rem;}
.cont_info_tbl table{width:100%;}
.cont_info_tbl table tbody th{color: #666;font-size:14rem;text-align:left;font-weight:normal;padding:6rem 0;}
.cont_info_tbl table tbody td{color:#444;font-size:14rem;padding:6rem 0;}
.cont_info_tbl .link{color:#F85C3A;font-size:14rem;}
.cont_info_tbl .link i{vertical-align:-2px;}
.cont_down_list{background-color:#F6F6F6;border-radius: 10px;padding:15rem 20rem;}
.cont_down_list>li{display:flex;align-items: center;}
.cont_down_list a{display:inline-block;margin-left:8rem; color:#444;font-size:14rem;font-weight:bold;}
.cont_down_list a:hover{text-decoration:underline;}
.cont_down_list span{display:inline-block;margin-left:8rem;color:#666;font-size:13rem;}
.cont_preview_list{margin-top:20rem;}
.cont_preview_list .data_cont{border:1px solid #DFDFDF;border-radius: 10px;overflow:hidden;}
.cont_preview_list .data_cont .img{display:block;position:relative;}
.cont_preview_list .data_cont .img.mov:before{content:"";position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:48rem;height:48rem;background:url('../images/icons/ico_mov_play.png') no-repeat 50%;border-radius:50%;background-size:cover;}
.cont_preview_list .data_cont .desc{padding:12rem 12rem;box-sizing:border-box;background-color:#F6F6F6;height:60rem;overflow-y: auto;}
.cont_preview_list .data_cont .desc p{color:#444;font-size:14rem;line-height:1.5;}
.cont_preview_list .preview_link{display:flex;height: 100%;justify-content:center;align-items: center;background-color:#F6F6F6;border:1px solid #DFDFDF;border-radius: 10px;box-sizing:border-box;}
.cont_preview_list .preview_link i{margin-left:7rem;}
.cont_desc_info{padding-top:15rem;border-top:1px solid #dfdfdf;color:#444;font-size:14rem;line-height:1.5;}
.cont_index_area{position:relative;}
.cont_index_box{color:#444;font-size:14rem;border: 1px solid #DFDFDF;border-radius: 10px;padding:12rem 20rem;box-sizing: border-box;height:140rem;overflow-y: auto;}