@charset "UTF-8";
/*
 * File       : ui.common.css
 * Author     : 송우림

 * DIRECTORY:
 * - COMMON
 */

  /**********
    COMMON
***********/


/**********
    통합검색
***********/
.lnb_dim{position: fixed;top:0;right:0;bottom:0;left:0;background-color:#000; z-index: 999;visibility: hidden;transition: all .3s;opacity:0;}
.lnb_dim.on{visibility: visible;opacity:.5;}
.search_menu_lnb{position: fixed;top:0;bottom:0;right:-340px;background-color:#FFFFFF;z-index:1000; transition: all 0.7s cubic-bezier(0.75, 0, 0.25, 1);transform: translateX(0);width:340px;padding:20rem;box-sizing:border-box;}
.search_menu_lnb.on{right:0;}
.search_menu_lnb .lnb_top{display:flex;align-items:center;justify-content:space-between;}
.search_menu_lnb .lnb_top i{padding:10rem 0;}
.search_menu_lnb .lnb_top h2{color:#000;font-size:18rem;font-weight:800;}
.total_search_top_area{padding:40rem 0;background-color:#FBF7F6;}
.total_search_box{display:flex;align-items: center;}
.total_search_box .detail{background: #686360;border-radius: 10px;background-color:#686360;font-size:18rem;font-weight:bold;color:#fff;padding:15rem 30rem;margin-left:20rem;}
.total_search_box .detail i{margin-right:5rem;}
.total_search_inpt{position:relative;width:calc(100% - 180rem);background: #FFFFFF;border: 2px solid #ADA49F;border-radius: 10px;box-sizing:border-box;padding:0 65rem 0 25rem;}
.total_search_inpt input[type="text"]{width:100%;height:52rem;border:0;background:none;font-size:18rem;padding:0;}
.total_search_inpt button{position:absolute;top:0;bottom:0;right:0;padding:0 20rem;}
.total_search_tags{padding-top:20rem;margin:-8rem -8rem;}
.total_search_tags a{display:inline-block;color:#444;font-size:14rem;padding:8rem;}
.total_search_result{margin-top:30rem;}
.total_search_result p{color:#000;font-size:24rem;}
.total_search_result p span{color: #F85C3A;font-weight:800;}
.total_search_wrap{position:relative;padding:0 230rem;margin-top:40rem;min-height:500rem;}
.total_search_wrap .menu_title{color: #000000;font-size:18rem;font-weight:800;}
.total_search_wrap .menu_title~.menu_title{margin-top:30rem;padding-top:30rem;border-top:1px solid #DFDFDF;}
.total_search_menu{position:absolute;top:0;left:0;width:200rem}
.total_search_menu .search_menu_btn{display:none;}
.total_search_menu .menu_list{margin-top:30rem;}
.total_search_menu .menu_list>li>a{display:block;position:relative;color:#000;font-size:14rem;font-weight:800;border-bottom:1px solid #DFDFDF;padding:12rem 0;}
.total_search_menu .menu_list>li.has-sub>a:after{content:"";position:absolute;top:13rem;right:20rem;width:20rem;height:20rem;background:url('../images/icons/ico_menu_arrow.png') no-repeat 50%;background-size:cover;}
.total_search_menu .menu_list>li.has-sub.on>a:after{transform: rotate(180deg);}
.total_search_menu .menu_list>li>ul{display:none;background-color:#F6F6F6;padding:12rem 15rem;}
.total_search_menu .menu_list>li>ul>li>a{display:inline-block;font-size:13rem;color:#000;}
.total_search_menu .menu_list>li>ul>li>a:hover{text-decoration:underline;}
.total_search_top{display:flex;align-items:center;justify-content:space-between;margin-bottom:20rem;}
.notice_option{display:inline-block;margin-left:20rem;}
.notice_option button{width:40rem;height:40rem;background-color:#f6f6f6;border-radius:5px;transition: all .2s;}
.notice_option button.on,
.notice_option button:hover{background-color:#F85C3A;}
.notice_option button.on .icons.i_notice_list:before,
.notice_option button:hover .icons.i_notice_list:before{background-image:url('../images/icons/ico_notice_list_on.png');width:24rem;height:24rem;}
.notice_option button.on .icons.i_notice_album:before,
.notice_option button:hover .icons.i_notice_album:before{background-image:url('../images/icons/ico_notice_album_on.png');width:24rem;height:24rem}
.total_search_title{position:relative;padding-bottom:12rem;border-bottom:2px solid #403F3D;}
.total_search_title~.total_search_title{margin-top:60rem;}
.total_search_title h3{display:inline-block;color: #000000;font-size:18rem;font-weight:800;}
.total_search_title span{color: #F85C3A;font-size:18rem;font-weight:800;}
.total_search_title a{position:absolute;top:5rem;right:0;color:#444;font-size:14rem;}

.etc .view{color:#444;font-size:13rem;font-weight:bold;}
.etc .view i{vertical-align:-3px;}
.etc .bookmark{margin-left:12rem;height:16rem;vertical-align:-2px;}
.etc .bookmark i{vertical-align: 0;}
.total_search_word{position:absolute;top:0;right:0;width:200rem}
.total_search_word .date{margin-top:15rem;}
.total_search_word .date span{display:inline-block;margin-left:5rem;color: #666666;font-size:12rem;}
.total_search_rank{margin-top:15rem;}
.total_search_rank>li{display:flex;align-items:center;}
.total_search_rank>li+li{margin-top:8rem;}
.total_search_rank .numb{display:inline-block;padding:0 5rem;background: #ADA49F;border-radius: 5px;color:#fff;font-size:12rem;}
.total_search_rank .numb.one{background: #F85C3A;}
.total_search_rank a{display:inline-block;margin-left:8rem;color:#000;font-size:14rem;font-weight:bold;}
.total_search_rank a:hover{text-decoration:underline;}
.total_search_myword{margin-top:15rem;}
.total_search_myword>li{position:relative;}
.total_search_myword>li+li{margin-top:8rem;}
.total_search_myword a{display:inline-block;color:#000;font-size:14rem;font-weight:800;}
.total_search_myword a:hover{text-decoration:underline;}
.total_search_myword .box{position:absolute;top:0;right:0;}
.total_search_myword .box span{color:#666;font-size:13rem;}
.total_search_myword .box button{vertical-align: 1px;}
.search_result_none{width:420rem;padding-top:125rem;background:url('../images/img/img_search_none.png') no-repeat top center;background-size:160rem auto;transform: translate(50px,80px);}
.search_result_none p{text-align: center;color:#000;font-size:24rem;font-weight:800;}
.search_result_none ul{margin-top:30rem;}
.search_result_none ul>li{position:relative;color:#444;font-size:16rem;padding-left:12rem;}
.search_result_none ul>li+li{margin-top:5rem;}
.search_result_none ul>li:before{content:"";position:absolute;top:8rem;left:0;width:4rem;height:4rem;border-radius:50%;background-color:#444444;}

.total_search_list{margin-top:20rem;}
.total_search_list>li+li{padding-top:15rem;margin-top:15rem;border-top:1px solid #DFDFDF;}
.total_search_list .title{display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;color:#000;font-size:16rem;font-weight:800;}
.total_search_list .title:hover{text-decoration:underline;}
.total_search_list .info{display:inline-flex;}
.total_search_list .info>li{display:flex;align-items: center;}
.total_search_list .info>li+li{margin-left:20rem;}
.total_search_list .info>li>span{display:inline-block;margin-right:10rem;color: #666666;font-size:13rem;}
.total_search_list .info>li>em{color:#444;font-size:13rem;font-weight:bold;}
.total_search_list .search_box{display:flex;align-items: center;margin-top:5rem;}
.total_search_list .search_box .etc{margin-left:20rem;}
.total_search_list .search_img{display:none;}
.total_search_list.card{display:flex;flex-wrap: wrap;margin:-8rem -8rem;padding-top:16rem;}
.total_search_list.card>li{width:33.333%;box-sizing: border-box;padding:8rem 8rem;}
.total_search_list.card>li+li{border-top:0;margin-top:0;}
.total_search_list.card .search_img{display:block;}
.total_search_list.card .search_inner{position:relative;border:1px solid #DFDFDF;border-radius: 10px;overflow:hidden;}
.total_search_list.card .search_cont{padding:15rem 15rem 20rem 15rem;}
.total_search_list.card .search_img{position:relative;height: 145rem;overflow:hidden;}
.total_search_list.card .search_img img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);object-fit:cover;width:100%;height:100%;}
.total_search_list.card .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;line-height:1.5;overflow:hidden;height:50rem;white-space:normal;padding:10rem 15rem 0 15rem;}
.total_search_list.card .info{display:block;padding:0 15rem 20rem 15rem;margin-top:5rem;}
.total_search_list.card .info>li+li{margin-top:4rem;margin-left:0;}
.total_search_list.card .etc{border-top:1px solid #DFDFDF;padding:12rem 15rem;text-align:right;margin-left:0;}
.total_search_list.card .search_box{display:block;margin-top:0;}
.total_search_list.card .info>li>span{width:36rem;}
.total_search_list.card .info>li>em{width:calc(100% - 36rem);white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

/* 통합검색 상세 */
.cont_header_area{border-bottom:2px solid #403F3D;margin:40rem 0 20rem 0;padding-bottom:20rem;}
.cont_header_area .title{margin-top:8rem;color:#000;font-size:24rem;font-weight:800;}
.cont_header_info{display:flex;align-items:center;justify-content:space-between;margin-top:10rem;}
.cont_header_area .info{display:flex;}
.cont_header_area .info>li+li{margin-left:25rem;}
.cont_header_area .info span{color:#666;font-size:14rem;}
.cont_header_area .info em{display:inline-block;color:#000;font-size:14rem;margin-left:10rem;font-weight:bold;}
.cont_title_area{margin:40rem 0 15rem 0;}
.cont_title_area.first{margin-top:0;}
.cont_title_area .sub_title{color:#000;font-size:18rem;font-weight:800;}
.cont_title_area .sub_title strong{color: #F85C3A;}
.cont_info_tbl{border: 1px solid #DFDFDF;border-radius: 10px;padding:25rem 30rem;}
.cont_info_tbl table{width:100%;}
.cont_info_tbl table tbody th{color: #666;font-size:14rem;text-align:left;font-weight:normal;padding:6rem 0;}
.cont_info_tbl table tbody td{color:#444;font-size:14rem;padding:6rem 0;}
.cont_info_tbl .link{color:#F85C3A;font-size:14rem;}
.cont_info_tbl .link i{vertical-align:-2px;}
.cont_down_list{background-color:#F6F6F6;border-radius: 10px;padding:15rem 20rem;}
.cont_down_list>li{display:flex;align-items: center;}
.cont_down_list a{display:inline-block;margin-left:8rem; color:#444;font-size:14rem;font-weight:bold;}
.cont_down_list a:hover{text-decoration:underline;}
.cont_down_list span{display:inline-block;margin-left:8rem;color:#666;font-size:13rem;}
.cont_preview_list{margin-top:20rem;}
.cont_preview_list .data_cont{border:1px solid #DFDFDF;border-radius: 10px;overflow:hidden;}
.cont_preview_list .data_cont .img{display:block;position:relative;}
.cont_preview_list .data_cont .img.mov:before{content:"";position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);width:48rem;height:48rem;background:url('../images/icons/ico_mov_play.png') no-repeat 50%;border-radius:50%;background-size:cover;}
.cont_preview_list .data_cont .desc{padding:12rem 12rem;box-sizing:border-box;background-color:#F6F6F6;height:60rem;overflow-y: auto;}
.cont_preview_list .data_cont .desc p{color:#444;font-size:14rem;line-height:1.5;}
.cont_preview_list .preview_link{display:flex;height: 100%;justify-content:center;align-items: center;background-color:#F6F6F6;border:1px solid #DFDFDF;border-radius: 10px;box-sizing:border-box;}
.cont_preview_list .preview_link i{margin-left:7rem;}
.cont_desc_info{padding-top:15rem;border-top:1px solid #dfdfdf;color:#444;font-size:14rem;line-height:1.5;}
.cont_index_area{position:relative;}
.cont_index_box{color:#444;font-size:14rem;border: 1px solid #DFDFDF;border-radius: 10px;padding:12rem 20rem;box-sizing: border-box;height:140rem;overflow-y: auto;}

/**********
    공유자료
***********/
.list_cont_top{position:relative;display:flex;align-items:center;justify-content: space-between;padding-bottom:12rem;border-bottom:2px solid #403F3D;}
.list_search{display:inline-flex;}
.list_search select{margin-right:8rem;}
.list_top_option{display:flex;}
.search_box_wrap{position:relative;width:340rem;border: 1px solid #DFDFDF;border-radius: 5px;box-sizing: border-box;padding:0 45rem 0 12rem;}
.search_box_wrap input[type="text"]{border:0;padding:0;width:100%;height:38rem;}
.search_box_wrap button{position:absolute;top:0;right:0;bottom:0;padding:0 10rem;}
.total_search_list.label .search_inner{position:relative;padding-left:120rem;}
.total_search_list.label .data_type{position:absolute;top:50%;left:0;transform: translateY(-50%);}
.total_search_list.label.card{margin:-12rem -12rem;padding-top:20rem;}
.total_search_list.label.card>li{width:25%;padding:12rem 12rem;}
.total_search_list.label.card .search_inner{padding-left:0;border:0;border-radius:0;}
.total_search_list.label.card .data_type{position:absolute;top:15rem;right:15rem;left:auto;transform: translateY(0);z-index:10;}
.total_search_list.label.card .search_img{height:200rem;border-radius:10px;}
.total_search_list.label.card .etc{display:flex;align-items:center;justify-content:space-between;padding:12rem 0;}
/* 발간물 리스트 */
.public_cont_wrap .row .col{margin:-30rem -25rem;}
.public_cont_wrap .row .col>li{padding:30rem 25rem;}
.public_cont_wrap a{display:block;overflow:hidden;}
/* .public_cont_wrap a:hover .img{transform:scale(.9);} */
/* .public_cont_wrap .img{transition: all .2s;} */
/* .public_cont_wrap figure{position:relative;overflow:hidden;width:200rem;height:260rem;}
.public_cont_wrap figure img{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);object-fit: cover;width: 100%;height:100%;} */
.public_cont_wrap a:hover .title{text-decoration: underline;}
.public_cont_wrap .title{margin-top:10rem;color:#000;font-size:18rem;font-weight:800;display:-webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient:vertical;overflow:hidden;height:55rem;word-break: normal;}

/* 발간물 상세 */
.detail_cont_wrap{display:flex;margin-top:15rem;padding-bottom:40rem;border-bottom:1px solid #dfdfdf;}
.detail_cont_wrap .detail_img{width:200rem;}
.detail_cont_wrap .detail_info{width:calc(100% - 230rem);margin-left:30rem;}
.detail_cont_wrap .detail_info .title{margin-top:8rem;color:#000;font-size:18rem;font-weight:800;}
.detail_cont_wrap .detail_info .desc{margin-top:10rem;color:#444;font-size:14rem;line-height:1.5;}
.detail_cont_wrap .detail_info .info{margin-top:40rem;}
.detail_cont_wrap .detail_info .info>li+li{margin-top:10rem;}
.detail_cont_wrap .detail_info .info span{display:inline-block;width:70rem;color:#666;font-size:14rem;}
.detail_cont_wrap .detail_info .info strong{color:#444;font-size:14rem;}

/**********
    참여기관
***********/
.organization_list{margin-top:15rem;}
.organization_list .row.gutter24>.col{margin:-12rem -12rem;}
.organization_list .row.gutter24>.col>li{padding:12rem 12rem;}
.organization_list .box{border: 1px solid #DFDFDF;border-radius: 10px;padding:20rem 20rem;}
.organization_list .name{margin-top:20rem;color:#000;font-size:18rem;font-weight:800;}
.organization_list .desc{height:60rem;margin-top:12rem;color:#444;font-size:14rem;line-height:1.5;word-break: normal;}
.organization_list .link_box{display:flex;margin-top:25rem;}
.organization_list .link_box a{display:inline-block;flex:1;text-align:center;border-radius:5px;padding:9rem 5rem;font-size:14rem;}
.organization_list .link_box a+a{margin-left:10rem;}
.organization_list .link_box a.c-type01{background-color:#F6F6F6;color:#666;}
.organization_list .link_box a.c-type02{background-color:#FBF7F6;color:#F85C3A;}

/* 정보교류 커뮤니티 리스트 */
.t_status { display:inline-block; height:34rem; line-height:32rem; font-size:14rem; background-color:#F6F6F6; padding:0 16rem; border-radius: 50rem; } 
.b_status { display:inline-block; min-width:68rem; /* padding:0 16rem; */ height:28rem; line-height:26rem; text-align:center; background: #FFFFFF; border: 1rem solid #F85C3A; font-size: 13rem; color: #F85C3A; box-sizing:border-box; } 
.b_status.ty2 { border-color:#666; color:#666; }
.tbl_style01 tbody td.subject a.lock { padding-left:28rem; background-size:20rem auto; background-repeat:no-repeat; background-image:url('../images/icons/ico_lock.png'); font-weight: 500; font-size: 16px; line-height: 23px; color: #000000; } 
.sorting_area { display:inline-block; font-size:0; } 
.sorting { display:inline-block; width:12rem; height:16rem; background-size:100% auto; background-repeat:no-repeat; background-position:50%; background-image:url('../images/icons/ico_sorting_up.png'); vertical-align:-3rem; } 
.sorting.down { background-image:url('../images/icons/ico_sorting_down.png'); } 
.answer_date { display:block; margin-top:5rem; font-size: 13rem; line-height: 19rem; color: #999999; } 
.answer_list { margin-top:9rem; padding-left:24rem; font-size: 14rem; line-height: 20rem; color: #444444; background:url('../images/icons/img_answer_list.png') no-repeat 0 0; background-size:16rem auto; } 

/* 정보교류 커뮤니티 상세 */
.post_cont_area{margin-bottom:40rem;}
.post_cont_btn{margin-top:15rem;text-align: right;}
.post_cont_btn .btn{min-width:60rem}
.post_pager_box{border-top:1px solid #CCCCCC;margin-top:150rem;}
.post_pager_box>li{display:flex;align-items: center;border-bottom:1px solid #dfdfdf;padding:20rem 40rem;}
.post_pager_box .pager_label{display:inline-block;width:50rem;color:#000;font-size:14rem;font-weight:800;}
.post_pager_box .pager_title{display:inline-block;width:calc(100% - 90rem);margin-left:40rem;color:#999;font-size:14rem;}
.post_pager_box .pager_title a{display:inline-block;max-width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;  color:#444;font-size:14rem;}
.post_pager_box .pager_title a:hover{text-decoration: underline;}
.post_pager_box+.post_btn_area{border-top:0;padding-top:0;}
.comment_cont_wrap{margin-top:20rem;padding-top:20rem;border-top:1px solid #DFDFDF;}
.comment_cont_wrap .guide{color:#000;font-size:14rem;font-weight:bold;}
.comment_cont_wrap .guide strong{color:#F85C3A;}
.comment_cont_wrap .comment_guide{margin:30rem 0 10rem 0;}
.comment_cont_wrap .comment_txtbox{border: 1px solid #DADADA;border-radius: 5px;padding:20rem;margin-top:10rem;background-color:#fff;}
.comment_cont_wrap .comment_txtbox textarea{border:0;padding:0;}
.comment_cont_wrap .comment_txtbox .txt_box_btn {text-align:right;}
.comment_cont_wrap .comment_txtbox .btn{min-width:60rem;font-size:13rem;padding:8rem 13rem;font-weight:normal;}
.comment_cont_list{border-top:1px solid #000000;padding:20rem 0;border-bottom:1px solid #CCCCCC;}
.comment_cont_list>li{position:relative;}
.comment_cont_list>li+li{padding-top:20rem;margin-top:20rem;border-top:1px solid #DFDFDF;}
.comment_top{display:flex;align-items:center;justify-content:space-between;}
.comment_top .comment_btn{display:flex;}
.comment_top .comment_btn .btn{font-size:13rem;padding:5rem 5rem;min-width:55rem;font-weight:normal;}
.comment_auth{display:flex;align-items:center;}
.comment_auth .auth{color:#444;font-size:14rem;font-weight:bold;}
.comment_auth .date{display:inline-block;position:relative;margin-left:10rem;padding-left:10rem;color:#666;font-size:14rem;}
.comment_auth .date:before{content:"";position:absolute;top:50%;left:0;transform: translateY(-50%);width:1px;height:16px;background-color:#dfdfdf;}
.comment_desc{margin-top:5rem; color:#000;font-size:16rem;font-weight:bold;line-height:1.5;}
.comment_count{margin-top:10rem;font-size:14rem;color:#ADA49F;}
.comment_count strong{color:#F85C3A;}
.comment_reply{margin-top:15rem;padding:20rem;border-top:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;background-color:#F6F6F6;}
.comment_reply>li{position:relative;margin-left:20rem;}
.comment_reply>li:before{content:"";position:absolute;top:20rem;left:-20rem;border-bottom:1px solid #999999;border-left:1px solid #999999;width:8rem;height:8rem;}
.comment_reply>li+li{margin-top:20rem;padding-top:20rem;border-top:1px solid #DFDFDF;}
.comment_reply>li.first:before,
.comment_reply>li.first+li:before{top:7rem;}
.comment_reply>li.first+li{padding-top:0;border-top:0;}
.comment_reply .comment_desc{font-size:14rem;}

/* 도서관계소식(동향) */
.list_box_area {border-top:2rem solid #403F3D; margin-top:12rem;}
.list_box_area>li {border-bottom:1rem solid #DFDFDF;}
.list_box_area>li .flex_row>li {padding:20rem;box-sizing:border-box;}
.list_box_area>li .flex_row>li:first-child {width:calc(100% - 154rem);}
.list_box_area>li .flex_row>li:last-child {width:154rem; text-align:center;}
.list_box_area>li .flex_row>li .subject{display:inline-block;max-width:100%;white-space:nowrap;text-overflow: ellipsis;overflow:hidden;font-size: 16rem; line-height:1.5; color: #000000; text-align:left;font-weight:800;cursor:pointer;} 
.list_box_area>li .flex_row>li .subject:hover {text-decoration-line: underline;}
.list_box_area>li .flex_row>li .info {display:inline-block;max-width:100%;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;margin-top:8rem; font-size: 14rem; line-height:1.5; color: #444444;}
.list_box_area>li .flex_row>li .date {display:block; margin-top:16rem; font-size: 13rem; line-height:1.5; color: #666;}
.list_box_area>li .flex_row>li .btn_area .btn_link {display:inline-block; height:28rem; /* padding:0 22rem; */ width:112rem; text-align:center; background: #FFFFFF; border: 1rem solid #DFDFDF; transition:all .3s;}
.list_box_area>li .flex_row>li .btn_area .btn_link em {display:inline-block; line-height:1.5; padding-left:20px; font-size: 13rem; color: #444444; background-repeat:no-repeat; background-position:0 50%; background-size:16rem auto; background-image:url('../images/icons/ico_naver.png');}
.list_box_area>li .flex_row>li .btn_area .btn_link.ty2 em {background-image:url('../images/icons/ico_box_link.png');}
.list_box_area>li .flex_row>li .btn_area .btn_link+.btn_link {margin-top:8rem;}
.list_box_area>li .flex_row>li .btn_area .btn_link:hover {border-color:#30AC11;}
.list_box_area>li .flex_row>li .btn_area .btn_link:hover em {color:#30AC11; background-image:url('../images/icons/ico_naver_h.png');}
.list_box_area>li .flex_row>li .btn_area .btn_link.ty2:hover {border-color:#005CA2;}
.list_box_area>li .flex_row>li .btn_area .btn_link.ty2:hover em {color:#005CA2; background-image:url('../images/icons/ico_box_link_h.png');}
.list_box_area>li .new_area {padding:40rem 40rem 72rem; background: #F6F6F6;}
.list_box_area>li .new_area .news_title {display:block; margin-bottom:16rem; font-weight: 800; font-size: 16rem; line-height:1.5; color: #000000;}
.list_box_area>li .new_area .news_imgbox img {max-width:100%;}
.list_box_area>li .new_area .news_info {margin-top:24rem;}
.list_box_area>li .new_area .news_info p {font-size:14rem; color:#444444; line-height:1.8;}
.list_box_area>li .toggle_box {display:none; position: relative;}
.list_box_area>li .toggle_box .close_toggle_box {position:absolute; top:20rem; right:20rem; width:20rem; height:20rem; background-repeat:no-repeat; background-size:100% auto; background-image:url('../images/icons/ico_toggle_box_close.png');}

/* 커뮤니티 등록, 수정 */
.cont_header_info .post_cont_btn{margin-top:0;}
.edit_wrap {border-top:2px solid #403F3D; border-bottom:1px solid #403F3D; padding:20rem 0;}
.edit_util {display:flex; flex-wrap:wrap; margin:0 -6rem;}
.edit_util li {margin-bottom:20rem; padding:0 6rem; box-sizing:border-box;}
.edit_util li dt {font-size:13rem; line-height:19rem; color:#666;}
.edit_util li dd {margin-top:8rem;}
.edit_util li dd input, .edit_util li dd select {width:100%;}
.b_btn_wrap {margin-top:40rem; text-align:center;}
.b_btn + .b_btn {margin-left:5rem;}
.b_btn {display:inline-block; border:1px solid #dfdfdf; border-radius:3px; background-color:#fff; padding:0 27rem; line-height:38rem; font-size:14rem; font-weight:800; color:#666; transition:all .2s;}
.b_btn:hover {background-color:#ADA49F; color:#fff; border-color:#ADA49F;}
.b_btn.type2 {border-color:transparent; background-color:#F85C3A; color:#fff; padding:0 47rem;}
.b_btn.type2:hover {background-color:#FF7654; border-color:transparent}
.b_btn.type3{background-color:#403F3D;border:1px solid #403F3D;color:#fff;}
.b_btn.type3:hover{background-color:#5a5957;border:1px solid #5a5957;}

/* 도서안내목록 */
.book_info_wrap h3.title{margin-bottom:25rem;color:#000;font-size:20rem;font-weight:800;}
.book_info_wrap h3.title~h3.title{margin-top:80rem;}
.book_list{position:relative;padding:0 55rem;}
.slide_prev{left:0;}
.slide_next{right:0;}
.slide_prev,.slide_next{position:absolute;top:50%;transform: translateY(-50%);}
.book_list .swiper-button-next:after, .swiper-button-prev:after{color:#999;font-size:25px;z-index:5;}
.book_list li.on .book_info .img:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:5px solid #F85C3A;}
.book_info{display:block;}
.book_info .img{position:relative;display:inline-block;}
.book_info .title{margin-top:10rem;color:#000;font-size:16rem;line-height:1.5;}
.book_detail_area{padding:0 55rem;}
.book_detail{position:relative;background: #F6F6F6;border: 1px solid #DFDFDF;border-radius: 10px;padding:30rem 30rem;margin-top:35rem;}
.book_detail .close{position:absolute;top:30rem;right:30rem;}
.book_detail .detail_info{display:flex;}
.book_detail .detail_info .img{width:240rem;}
.book_detail .detail_info .info_box{width:calc(100% - 270rem);margin-left:30rem;position:relative;}
.book_detail .detail_info .title{color:#000;font-size:20rem;font-weight:800;padding-right:30rem;}
.book_detail .detail_info .info{margin-top:20rem;}
.book_detail .detail_info .info>li{display:flex;}
.book_detail .detail_info .info>li+li{margin-top:8rem;}
.book_detail .detail_info .info>li>span{display:inline-block;width:60rem;color:#666;font-size:14rem;}
.book_detail .detail_info .info>li>em{display:inline-block;width:calc(100% - 70rem);margin-left:10rem;color:#000;font-size:14rem;line-height:1.5;}
.book_detail .info_tbl{display:flex;margin-top:25rem;border-top:1px solid #DFDFDF;border-right:1px solid #DFDFDF;}
.book_detail .info_tbl>li{width:25%;}
.book_detail .info_tbl dl dt{color:#444;font-size:14rem;background-color:#F6F6F6;text-align: center;border-left:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;padding:8rem 0;}
.book_detail .info_tbl dl dd{display:flex;align-items:center;justify-content: center;height: 80rem;color:#000;font-size:14rem;font-weight:bold;text-align:center;background-color:#fff;border-left:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;box-sizing:border-box;}
.book_detail .keyword{padding-top:20rem;margin:-6rem;}
.book_detail .keyword .word{display:inline-block;color:#F85C3A;font-size:14rem;padding:6rem;}
.book_detail .detail_book{margin-top:30rem;padding-top:30rem;border-top:1px solid #DFDFDF;}
.book_detail .detail_book .sub_title{color:#000;font-size:20rem;font-weight:800;}
.book_detail .msg{margin-top:10rem;margin-bottom:25rem;background: #FFFFFF;border-radius: 10px;padding:15rem;color:#000;font-size:14rem;}
.book_detail .msg strong{font-weight:800;}

/*****************
    마이페이지
******************/
.mypage_top_area{padding:40rem 0;background-color:#FBF7F6;}
.mypage_top_area h2{color:#000;font-size:24rem;font-weight:800;}
.mypage_top_box{display:flex;justify-content: space-between;align-items: center;margin-top:35rem;}
.mypage_top_user{display:flex;}
.mypage_top_user .img{width:100rem;height:100rem;}
.mypage_top_user .user{margin-left:30rem;}
.mypage_top_user .user .name{display:block;margin-bottom:15rem;color:#7A7B7C;font-size:20rem;}
.mypage_top_user .user .name strong{color:#000;font-size:20rem;font-weight:800;}
.mypage_top_user .user .name a{color:#7E7C7B;font-size:14rem;}
.mypage_top_user .user .name a i{margin-left:5rem;vertical-align:-1px;}
.mypage_top_user .info+.info{margin-top:8rem;}
.mypage_top_user .info span{display:inline-block;width:80rem;color: #666666;font-size:14rem;}
.mypage_top_user .info strong{color:#000;font-size:14rem;font-weight:bold;}
.mypage_top_cont{display:flex;margin:0 -8rem;}
.mypage_top_cont>li{width:196rem;box-sizing: border-box;padding:0 8rem;}
.mypage_top_cont>li.on a,
.mypage_top_cont>li:hover a{background-color:#F85C3A;}
.mypage_top_cont>li.on span,
.mypage_top_cont>li:hover span{color:#fff;}
.mypage_top_cont>li.on strong,
.mypage_top_cont>li:hover strong{color:#fff;}
.mypage_top_cont>li.on .icons.i_my_upload:before,
.mypage_top_cont>li:hover .icons.i_my_upload:before{background-image: url('../images/icons/ico_my_upload_on.png');}
.mypage_top_cont>li.on .icons.i_my_download:before,
.mypage_top_cont>li:hover .icons.i_my_download:before{background-image: url('../images/icons/ico_my_download_on.png');}
.mypage_top_cont>li.on .icons.i_my_stats:before,
.mypage_top_cont>li:hover .icons.i_my_stats:before{background-image: url('../images/icons/ico_my_stats_on.png');}
.mypage_top_cont>li.on .icons.i_my_qna:before,
.mypage_top_cont>li:hover .icons.i_my_qna:before{background-image: url('../images/icons/ico_my_qna_on.png');}
.mypage_top_cont a{display:block;position:relative;background: #FFFFFF;border: 1px solid #DFDFDF;border-radius: 10px;padding:20rem 25rem;transition: all .1s;}
.mypage_top_cont span{display:inline-block;color: #999;font-size:14rem;}
.mypage_top_cont strong{display:block;color:#999;font-size:28rem;font-weight:800;margin-top:15rem;}
.mypage_top_cont i{position:absolute;top:20rem;right:20rem;}
.mypage_cont_area .mypage_top_title{display:flex;align-items: center;justify-content:space-between;padding:40rem 0 20rem;margin-bottom:20rem;border-bottom:2px solid #1C2B43;}
.mypage_cont_area .mypage_top_title h3{padding:0;}
.mypage_cont_area .mypage_top_title span{color:#666;;font-size:14rem;}
.mypage_cont_area .mypage_top_title em{display:inline-block;margin-left:10rem;color: #128DDD;font-weight:800;}
.mypage_cont_area h3{padding:40rem 0 20rem 0;color:#000;font-size:24rem;font-weight:800;}
.total_search_list.date .search_inner{position:relative;padding-right:150rem;}
.total_search_list.date .date_info{position:absolute;top:50%;right:0;transform: translateY(-50%);}
.total_search_list.date .date_info span{color:#666;font-size:13rem;}
.total_search_list.date .date_info em{display:inline-block;position:relative;font-size:13rem;padding-left:10rem;margin-left:6rem;font-weight:800;}
.total_search_list.date .date_info em:before{content:"";position:absolute;top:3px;left:0;width:1px;height:14px;background-color:#dfdfdf;}
.total_search_list.date .date_info .all{color:#F85C3A;}
.total_search_list.date .date_info .private{color:#005CA2;}
.total_search_list.date.card>li{width:25%;}
.total_search_list.date.card .search_inner{padding-right:0;}
.total_search_list.date.card .date_info{position: static;transform: translateY(0);padding:20rem 20rem 0 20rem;}
.total_search_list.date.card .etc{display:flex;align-items: center;justify-content: space-between;margin:0 15rem;padding:12rem 0;}
.total_search_list.date.card .title{padding:10rem 20rem 0rem 20rem;}
.total_search_list.date.card .info{padding:0 20rem 15rem 20rem;}
/* 다운로드 */
.mypage_scrap_area{margin-top:25rem;}
.mypage_scrap_area .row.gutter24>.col{margin-top:-12rem;margin-bottom:-12rem;}
.mypage_scrap_area .row.gutter24>.col>li{padding-top:12rem;padding-bottom:12rem;}
.mypage_scrap_area .scrap_cont{padding:30rem 30rem;border: 1px solid #DADADA;border-radius: 10px;box-sizing: border-box;position:relative;}
.mypage_scrap_area .file{margin-bottom:10rem;}
.mypage_scrap_area .title{display:-webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient:vertical;overflow:hidden;height:55rem;color:#000;font-size:18rem;font-weight:800;}
.mypage_scrap_area .title:hover{text-decoration: underline;}
.mypage_scrap_area .date{display:block;margin-top:10rem;color:#666;font-size:14rem;}
.mypage_scrap_area .close{position:absolute;top:20rem;right:20rem;}
.data_none{padding-top:110rem;background:url('../images/img/img_search_none.png') no-repeat top center;background-size:160rem auto;}
.data_none p{color:#000;font-size:20rem;font-weight:800;text-align: center;}
.mypage_info{width:680rem;margin:0 auto;padding-top:40rem;}
.mypage_info h2{color:#000;font-size:24rem;font-weight:800;text-align:center;}
.mypage_info .tbl_style01{margin-top:40rem;}
.mypage_info .tbl_style01 tbody th{text-align:left;padding:20rem 15rem;border-bottom:1px solid #dfdfdf;font-size:14rem;}
.mypage_info .tbl_style01 tbody td{color:#000;font-weight:800;text-align:left;padding:20rem 15rem;}
/* 업로드 */
.subtitle_area.first{border-bottom:2px solid #403F3D;padding-bottom:15rem;}
.subtitle_area .title{font-size:18rem;font-weight:800;}
.subtitle_area .title strong{color:#F85C3A;}
.form_list_area .row>.col{margin:-10rem -12rem;padding-top:20rem;}
.form_list_area .row>.col>li{padding:10rem 12rem;}
.form_list_area .form_top{margin-bottom:10rem;}
.form_list_area .form_top .label{color:#666;font-size:13rem;} 
.form_list_area .form_top .req{color: #FF0000;}
.form_msg{margin-top:12rem;color:#666;font-size:14rem;line-height:1.5;}
.form_attach_area input[type="file"]{display:none;}
.form_attach_area label{display:flex;flex-direction: column;height: 100rem;background: #F6F6F6;border: 1px dashed #DFDFDF;border-radius: 4px;cursor:pointer;justify-content:center;align-items:center;}
.form_attach_area label span{display:inline-block;margin-top:5rem;color:#444;font-size:14rem;}
.form_attach_info{display:flex;align-items:center;justify-content:space-between;margin-top:10rem;}
.form_attach_info span{color:#444;font-size:14rem;}
.form_attach_info span strong{color:#F85C3A;font-weight:800;}
.form_attach_file{margin-top:15rem;}
.form_attach_file .form_attach{display:inline-block;position:relative;border: 1px solid #DFDFDF;border-radius: 4px;padding:8rem 40rem 8rem 15rem;min-width:380rem;box-sizing:border-box;}
.form_attach_file .form_attach span{display:inline-block;margin-left:8rem;color:#444;font-size:14rem;}
.form_attach_file .form_attach button{position:absolute;top:6rem;right:15rem;}
.form_tab_cont{margin-top:40rem;padding-top:40rem;border-top:1px solid #DFDFDF;}
.form_notice{margin-top:40rem;background: #FBF7F6;border-radius: 10px;padding:30rem;}
.form_notice .notice>li{position:relative;color:#666;font-size:14rem;padding-left:10rem;}
.form_notice .notice>li:before{content:"";position:absolute;top:8px;left:0;width:3rem;height:3rem;background-color:#666666;border-radius:50%;}
.form_notice .notice>li+li{margin-top:8rem;}
.form_notice .chk{display:block;margin-top:15rem;padding-top:15rem;border-top:1px solid #DFDFDF;}
.form_notice .chk label{font-weight:800;}
.form_year{position:relative;border: 1px solid #DFDFDF;border-radius: 5px;padding-right:25rem;}
.form_year input[type="text"]{border:0;}
.form_year span{position:absolute;top:10rem;right:15rem;color:#000;font-size:14rem;font-weight:800;}
/*****************
    로그인회원가입
******************/
/* 로그인 */
.login_wrap{max-width:400rem;margin:0 auto;padding-top:80rem;}
.login_wrap.signup{max-width:600rem;}
.login_wrap h2{color:#000;font-size:28rem;font-weight:800;text-align:center;}
.login_wrap .form_list_area .row>.col{padding-top:40rem;}
.login_wrap input[type="text"]:focus,
.login_wrap input[type="password"]:focus{border-color: #F85C3A;box-shadow: 0px 0px 20px rgba(248, 92, 58, 0.12);}
.form_pw_box{position:relative;}
.form_pw_box input[type="password"]{padding-right:45rem;}
.form_pw_box .btn_pw{position:absolute;top:9rem;right:15rem;}
.pw_msg{display:inline-block;margin-top:8rem;color: #FF0000;font-size:13rem;}
.pw_msg .icons{vertical-align:-3px;}
.btn_login button{width:100%;height: 55rem;font-size:16rem;transition: all .2s;}
.btn_login .c-type03:hover{background-color:#FF7654;border-color: transparent;}
.btn_login .c-type01:hover{background-color:#F85C3A;color:#fff;}
.login_etc{display:flex;align-items: center;justify-content: space-between;margin-top:15rem;}
.login_etc span{color:#444;font-size:14rem;font-weight:bold;}
.login_etc a{color:#F85C3A;font-size:14rem;}
.login_etc a:hover{text-decoration:underline;}
.login_msg{position:relative;margin-top:40rem;text-align:center;margin-bottom:20rem;}
.login_msg:after{content:"";position:absolute;top:50%;left:0;right:0;height: 1px;background-color:#DFDFDF;transform: translateY(-50%);z-index:-1;}
.login_msg span{display:inline-block;padding:0 25rem;background-color:#fff;color:#444;font-size:14rem;}
.login_wrap .tabs_design03{margin-top:40rem;}
/* 회원가입 */
.signup_step{display:flex;justify-content:center;margin-top:20rem;}
.signup_step>li{position:relative;}
.signup_step>li+li:before{content:"";position:absolute;top:50%;left:0;right:0;background-color:#DFDFDF;height: 1px;z-index:-1;}
.signup_step>li+li{padding-left:20rem;}
.signup_step>li>span{display:flex;width:24rem;height:24rem;border-radius:50%;color:#fff;font-size:13rem;font-weight:bold;background-color:#DFDFDF;align-items: center;justify-content: center;}
.signup_step>li.on>span{background-color:#F85C3A;}
.signup_msg{margin-top:20rem;color:#444;font-size:14rem;line-height:1.8;text-align: center;}
.signup_link{display:flex;margin:40rem -20rem 0 -20rem;}
.signup_link>li{width:50%;box-sizing: border-box;padding:0 20rem;}
.signup_link>li>a{display:flex;border: 1px solid #DFDFDF;border-radius: 10px;height: 240rem;box-sizing: border-box;align-items: center;justify-content: center;flex-direction: column;position:relative;}
.signup_link>li>a:hover{box-shadow: 0px 0px 24px rgba(248, 92, 58, 0.12);}
.signup_link>li>a:hover:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:2px solid #F85C3A;border-radius: 10px;}
.signup_link h3{margin-top:20rem;color:#000;font-size:18rem;font-weight:800;}
.signup_link p{margin-top:10rem;color:#444;font-size:13rem;}
.form_address{display:flex;}
.form_address input{width:calc(100% - 130rem);margin-right:10rem;}
.form_address button{width:120rem}
.signup_cont{margin-top:40rem;}
.signup_cont textarea:focus{border-color: #F85C3A;box-shadow: 0px 0px 20px rgba(248, 92, 58, 0.12);}
.signup_top{display:flex;align-items:center;justify-content: space-between;padding-bottom:20rem;border-bottom:2px solid #403F3D;}
.signup_top h3{color:#000;font-size:18rem;font-weight:800;}
.signup_top span{color:#000;font-size:13rem;}
.signup_top span em{color: #FF0000;}
.login_wrap .signup_cont .form_list_area .row>.col{padding-top:20rem;}
.pw_notice{display:inline-block;margin-top:5rem;color:#444;font-size:13rem;}
.form_email{display:flex;margin:0 -5rem;}
.form_email>li{width:33.333%;padding:0 5rem;position:relative;}
.form_email>li:first-child{padding-right:25rem;}
.form_email>li:first-child:after{content:"@";position:absolute;top:9px;right:3px;color:#666;font-size:14rem;}
.form_file{display:flex;border: 1px solid #DFDFDF;border-radius: 5px;padding:9rem 10rem;}
.form_file .upload_file{display:none;}
.form_file input[type="text"]{border:0;padding-left:0;}
.form_file input[type="text"]:focus{box-shadow: none;}
.form_file label{text-align:center;cursor: pointer;}
.signup_cont .b_btn_wrap{padding-top:40rem;margin-top:20rem;border-top:1px solid #403F3D;}